
<h2>Installation</h2>

<h3 class="subheader">Ready to make sweet web apps? Install our Sass and JavaScript components with ease.</h3>

<hr>

<section>
  <h3>Quick Setup</h3>

  <p>Use our pre-built templates to get your next app up and running fast!  The templates includes all the tools necessary to build production quality apps out of the gate.</p>

  <a class="button" ui-sref="templates">Get Started!</a>
</section>

<hr>

<section>
  <h3>Manual Install</h3>

  <p>Angular Base Apps can be installed through bower or npm.</p>

<hljs language="bash">
bower install angular-base-apps --save
npm install angular-base-apps --save
</hljs>

  <p>The package includes these folders:</p>

  <ul class="folder-list">
    <li><strong>dist:</strong> compiled CSS and JavaScript files, in minified and unminified flavors.</li>
    <li><strong>js:</strong> the Angular components, and a few external libraries.</li>
    <li><strong>scss:</strong> the Sass files for each component.</li>
  </ul>
</section>

<hr>

<section>
  <h3>Migration from 1.x to 2.x</h3>

  <p>Angular Base Apps 2.0 marks the first version of the framework to be completely separated from ZURB's Foundation for Apps.  Check the <a ui-sref="migration">migration</a> section for complete info.</p>

</section>

<hr>

<section>
  <h3>CDN</h3>

  <p>The folks at <a href="http://www.jsdelivr.com/">jsDeliver</a> are hosting the Angular Base Apps CSS and JavaScript on their CDN. Just add the files as <code>&lt;link&gt;</code> or <code>&lt;script&gt;</code> tags in the <code>&lt;head&gt;</code> of your HTML file.</p>

<hljs language="html">
<!-- CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/angular-base-apps/2.0.9/base-apps.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/angular-base-apps/2.0.9/base-apps.min.css">

<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/angular-base-apps/2.0.9/base-apps.js"></script>
<script src="https://cdn.jsdelivr.net/angular-base-apps/2.0.9/base-apps.min.js"></script>
</hljs>

</section>
