$rem-base: 16px;
$base-font-size: 100%;
$base-line-height: 1.5;
$headers: "h1,h2,h3,h4,h5,h6";
$font-weight-normal: normal;
$font-weight-bold: bold;
$body-background: #fff;
$body-font-color: #222;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;
$body-antialiased: true;
$primary-color: #00558b;
$secondary-color: #f1f1f1;
$alert-color: #F04124;
$info-color: #A0D3E8;
$success-color: #43AC6A;
$warning-color: #F08A24;
$dark-color: #232323;
$gray: #dfdfdf;
$gray-dark: darken($gray, 8);
$gray-light: lighten($gray, 8);
$global-radius: 4px;
$global-rounded: 1000px;
$global-padding: 1rem;
$global-spacing: rem-calc(15);
$icon-classes: ('iconic', 'ionicons', 'material-icons', 'open-iconic');
$loader-classes: ('sk-loader');
