
<h2>Angular</h2>

<h3 class="subheader">Angular Base Apps uses AngularJS in tons of neat ways, from dynamic routing to component directives. Learn about our Angular integration here.</h3>

<hr>

<div class="card docs-callout">
  <p>Already a seasoned Angular developer? Check out our <a ui-sref="angular-modules">modules documentation</a> to learn how add our components to your Angular app.</p>
</div>

<hr>

<section>
  <h3>Dynamic Routing</h3>

  <p>Views and state are fundamental to creating single-page web apps. To make defining routes faster, we wrote a special plugin that creates routes directly from each view's HTML file, so you don't have to write any JavaScript to set them up.</p>

  <div class="card docs-callout">
    <p><strong>As of version 2.0, this feature is no longer part of the core framework.</strong>  It can be included as an optional dependency by installing <a href="https://github.com/base-apps/angular-front-router" class="pre">angular-front-router</a> and <a href="https://github.com/base-apps/angular-dynamic-routing" class="pre">angular-dynamic-routing</a>.</p>
  </div>

<hr>

<section>
  <h3>Angular Includes</h3>

  <p>An include is a chunk of HTML that exists in its own file, and can be dropped into any page using <code>ng-include</code>.</p>

<hljs language="html">
<div ng-include="'path/to/partial.html'"></div>
</hljs>

  <p>Note the use of single quotes inside the double quotes&mdash;this is required. The HTML inside the partial will be placed <em>inside</em> the element with <code>ng-include</code>.</p>
</section>

<hr>

<section>
  <h3>Enabling HTML5 Mode and working with Angular on a server</h3>

  <p>To enable HTML5 mode with Angular (using regular URLs unprefixed by "\#"), a server has to support URL rewrites. The UI Router docs have a great <a href="https://github.com/angular-ui/ui-router/wiki/Frequently-Asked-Questions#how-to-configure-your-server-to-work-with-html5mode">write up</a> on working with the HTML5mode and how to enable it on a variety of servers.</p>

  <p>Angular Base Apps supports this out of the box for the development environment; however, for production, additional steps will be necessary.</p>

  <p>If you'd like to run Angular Base Apps without HTML5 mode there is a line of code in the <code>app.js</code> that can be commented out:</p>

<hljs language="javascript">
locationProvider.html5Mode({
  'enabled': true,
  'requireBase': true
});
</hljs>

  <p>Note that Angular Base Apps cannot be run directly through the browser because it uses XMLHttpRequests to load up templates/partials for directives and pages. Running it directly will cause cross origin issues and will not work with linking.</p>

  <p>If you are running in a subdirectory, try setting <code>requireBase</code> to the subdirectory name. So if you're running <code>domain.com/subdirectory</code>, set <code>requireBase: '/subdirectory/'</code>.</p>
</section>

<hr>

<section>
  <h3>Angular and UI Router Helpers</h3>

  <p>There are some nuances of Angular itself and some of the libraries Angular Base Apps includes and uses that can make prototyping easier and quicker. Here's a rundown of some of these tools:</p>

  <section>
    <h4><pre>ui-sref</pre></h4>

    <p>Instead of using <code>&lt;a href="/my/sub/page"&gt;</a></code> in a page to access another page, it's common practice to use the router. Angular Base Apps uses UI Router for its routing which allows for named route references. For instance, let's say there is a page with this front matter:</p>

<hljs>
---
name: mypage
url: my/sub/page
---
</hljs>

    <p>You can easily link to it like so:</p>

<hljs language="html">
<a ui-sref="mypage">my page</a>
</hljs>

    <p><code>ui-sref</code> can also take in parameters for pages that accept parameters. Here's another example page that uses parameters:</p>

<hljs>
---
name: inbox.message
url: inbox/:id
---
</hljs>

    <p>The page can be accessed via:</p>

<hljs language="html">
<a ui-sref="inbox.message({ id: 5 })">5th message</a>
</hljs>

  </section>

  <section>
    <h4><pre>ui-sref-active</pre></h4>

    <p>Now let's say we want to create a menu of links and want to make sure that the active link gets an extra special class to indicate that it is, indeed, active. There are two very similar ways to do this. The first one is using <code>ui-sref-active</code>, you can place this directive on either the <code>ui-sref</code> element or on its parent. When active, it will add a class of your choosing:</p>

<hljs language="html">
<ul>
  <li ui-sref-active="my-active-class"><a ui-sref="mypage">My page</a></li>
  <li ui-sref-active="my-active-class"><a ui-sref="myotherpage">My page</a></li>
</ul>
</hljs>

    <p>The other way is using <code>ui-sref-active-eq</code> which works almost the same with one difference. Whenever accessing a child page, the parent page will show up as active whenever using <code>ui-sref-active</code>. The <code>ui-sref-active-eq</code> is triggered ONLY when a specific page is triggered, no matter what their parent is.</p>

    <p>In the previous example with inbox and inbox.message, the inbox page would show up as active with <code>ui-sref-active</code> when on the inbox.message page. With <code>ui-sref-active-eq</code>, inbox would show up as active only when specifically on the inbox page.</p>

    <p>If none of this makes sense, stick with <code>ui-sref-active-eq</code></p>
  </section>
</section>
