
<h2>Angular Modules</h2>

<h3 class="subheader">Each of our UI components are packaged as an Angular module. You can import them all at once or pick and choose.</h3>

<hr>

<section>
  <h3>Bootstrapping</h3>

  <p>Our Bower/npm package, as well as the template stack, includes a sample <code>app.js</code> file which bootstraps an Angular application with UI Router, ng-animate, and every Angular Base Apps module.</p>

  <p>In the below example, a module called <code>base</code> is imported. This is a shorthand to import every UI component at once. However, it's also possible to import inidividual components, such as <code>base.modal</code> or <code>base.tabs</code>.</p>

  <p>When writing your own bootstrapping code, the only essential configuration is setting up the <code>$urlProvider</code> and <code>$locationProvider</code></p>

<hljs language="javascript">
(function() {
  'use strict';

  angular.module('application', [
    // Angular libraries
    'ui.router',
    'ngAnimate',

    // Angular Base Apps components
    'base',

    // Angular Icons
    'angularIcons.iconic',

    // Routing with front matter
    'dynamicRouting',

    // Transitioning between views
    'dynamicRouting.animations'
  ])
    .config(config)
  ;

  config.$inject = ['$urlRouterProvider', '$locationProvider'];

  function config($urlProvider, $locationProvider) {
    // Default to the index view if the URL loaded is not found
    $urlProvider.otherwise('/');

    // Use this to enable HTML5 mode
    $locationProvider.html5Mode({
      enabled: false,
      requireBase: false
    });

    // Use this to set the prefix for hash-bangs
    // Example: example.com/#!/page
    $locationProvider.hashPrefix('!');
  }

})();
</hljs>
</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>base.core</pre> (Module)</h3>
  <p>The core module should not be required directly, as nearly every other component requires it already. It includes a media query helper, the component API, and a few utilities.</p>

  <section>
    <h4 class="docs-module-name"><pre>BaseAppsApi</pre> (Service)</h4>

    <p>BaseAppsApi is what powers all of modules in Angular Base Apps. It's the master puppeteer. It currently has a total of 8 methods but will probably expand to have more.</p>

<hljs language="javascript">
BaseAppsApi.subscribe('identifier', callback)
</hljs>

    <p>BaseAppsApi has its own pub/sub system that is meant to work as a message system of sorts, or an event system. Basically, using a unique identifier, a directive (or other modules) can subscribe to any messages posted to that identifier. Each idenitifier can have its own list of subscribers (rather than a single subscriber). Make sure the callback accepts messages in a format your publishers are aware of. For example, most directive can be opened or closed by publishing <code>open</code>, <code>close</code>, or <code>toggle</code> to their identifier.</p>

<hljs language="javascript">
BaseAppsApi.unsubscribe('identifier', callback)
</hljs>

    <p>This method is used to unsubscribe any listeners from an object. Note that once a directive is unsubscribed, it will not contain any listeners until otherwise specified by re-initiating the <code>.subscribe</code> method. It takes in element's unique identifier as an argument with an optional callback to run after the element has been unsubscribed.</p>

<hljs language="javascript">
BaseAppsApi.publish('identifier', 'message')
</hljs>

    <p>The publishing part of the Api is as simple as the subscriber part. Note that you can publish to a non-existing identifier without getting any sort of error. This is a safeguard for directives or services that publish upon invokation but do not necessarily have any subscribers. One of them is the <code>resize</code> publisher in the Media Query initiator.</p>

<hljs language="javascript">
BaseAppsApi.getSettings()
</hljs>

    <p>BaseAppsApi has a <code>settings</code> object that can be shared between different modules which may want access to it. Because BaseAppsApi is an Angular service, it operates as a singleton so every module that has access is accessing the same exact instance of it. The only default setting so far is the <code>mediaQueries</code> object.</p>

<hljs language="javascript">
BaseAppsApi.modifySettings(tree)
</hljs>

    <p>Using Angular's <code>.extend()</code> function, BaseAppsApi can extend the settings object with custom settings. You may use these for yourself and your own setup.</p>

<hljs language="javascript">
BaseAppsApi.generateUuid()
</hljs>

    <p>BaseAppsApi keeps an internal store of unique IDs it generates. <code>generateUuid()</code> creates such IDs and saves them. This is to prevent any possible ID clashes. These IDs are used for several directives but you can use them for your own purposes.</p>

<hljs language="javascript">
BaseAppsApi.toggleAnimation(element, futureState)
</hljs>

    <p>A simple helper which either adds or removes an <code>activeClass</code> (<code>is-active</code>) from an element</p>

<hljs language="javascript">
BaseAppsApi.animate(element, futureState, animationIn, animationOut)
</hljs>

    <p>Another helper that works by replicating Angular's built-in <code>ngAnimate</code> functionality with several custom additions to work with Angular Base Apps's internal MotionUI. These are mostly for internal use; however, you can easily animate in and animate out any element the same way <code>$animate</code> works.  This function returns a <code>$q</code> promise which is resolved when the animation completes or rejected when the animation is aborted.</p>

<hljs language="javascript">
BaseAppsApi.animateAndAdvise(element, futureState, animationIn, animationOut)
</hljs>

    <p class="docs-module-api-desc">Does the same thing as BaseAppsApi.animate, with the addition of firing notification events based on the status of the component. Events are sent using <code>BaseAppsApi.publish</code> with the provided element's <code>id</code>.  The following notifications are sent:</p>
    <ul class="no-bullet">
      <li><code>'activated'</code> - sent when the component considers itself active</li>
      <li><code>'deactivated'</code> - sent when the component considers itself deactivated</li>
      <li><code>'animation-open-started'</code> - sent when the component starts the open animation</li>
      <li><code>'animation-open-finished'</code> - sent when the component finishes the open animation</li>
      <li><code>'animation-open-aborted'</code> - sent if the open animation is aborted</li>
      <li><code>'animation-close-started'</code> - sent when the component starts the close animation</li>
      <li><code>'animation-close-finished'</code> - sent when the component finishes the close animation</li>
      <li><code>'animation-close-aborted'</code> - sent if the close animation is aborted</li>
    </ul>

<hljs language="javascript">
BaseAppsApi.closeActiveElements(options)
</hljs>

    <p>This utility is used to close all closable components provided by Angular Base Apps. It selects any element that has an <code>is-active</code> class and an <code>ba-closable</code> attribute. You're welcome to make your own directives and plugins work with it. It publishes a <code>close</code> message to the ID of the selected element.</p>
  </section>

  <section>
    <h4 class="docs-module-name"><pre>ba-advise</pre> (Attribute)</h4>

    <p>Use the ba-advise attribute on any component to enable the component to send notification events (see <code>BaseAppsApi.animateAndAdvise</code>).</p>

<hljs language="html">
<div id="modal" ba-modal="" ba-advise="">
  <!-- ... -->
</div>
</hljs>

<hljs language="javascript">
BaseAppsApi.subscribe('modal', function(message) {
  switch (message) {
    case 'activated': ...,
    case 'deactivated': ...,
    case 'animation-open-started': ...,
    case 'animation-open-finished': ...,
    case 'animation-open-aborted': ...,
    case 'animation-close-started': ...,
    case 'animation-close-finished': ...,
    case 'animation-close-aborted': ...
  }
});
</hljs>
<div id="modal" ba-modal="" ba-advise="">
  <!-- ... -->
</div>
</hljs>
  </section>

  <section>
    <h4 class="docs-module-name"><pre>Utils</pre> (Factory)</h4>

    <p>Utils is a small module which has a couple of simple methods. One of them is <code>throttle(func, delay)</code> which allows for simple throttling (and is used in the Media Query initiator)</p>
  </section>
</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>base.mediaquery</pre> (Module)</h3>

  <p class="docs-module-deps"><strong>Dependencies:</strong> <span class="pre">base.core</span></p>

  <section>
    <h4 class="docs-module-name"><pre>BaseAppsMediaQuery</pre> (Service)</h4>

    <p>BaseAppsMediaQuery has numerous functions useful for media queries, including the Media Query Initiator.</p>

    <p>The Media Query initiator uses built-in Angular Base Apps styles to create a <code>mediaQueries</code> setting under the BaseAppsApi. This is used for Interchange but it can be used for whatever you need. This module depends on Angular Base Apps css to be present but it will fail silently if you don't want to use this feature.</p>

    <p>The Initiator also publishes an event to the <code>BaseAppsApi</code> called "resize" whenever the window is resized (throttled to happen 50ms at a time).</p>

    <p>The BaseAppsMediaQuery service is used to get the media query settings by shorthand instead of using BaseAppsApi. There are several helper functions that allow Interchange to exist but can be used outside of Interchange as well to sort through various MediaQuery scenarios to get a list of media queries that match the current browser configuration and also to gather these scenarios from a parent element that holds Interchange-style elements.  These methods are used by the <code>ba-if</code>, <code>ba-show</code> and <code>ba-hide</code> directives.</p>

<hljs language="javascript">
BaseAppsMediaQuery.matchesMedia(breakpoint)
</hljs>

    <p class="docs-module-api-desc">Returns <code>true</code> if the media matches the breakpoint otherwise returns <code>false</code>.</p>
    <ul>
      <li>On a large device, the query <code>BaseAppsMediaQuery.matchesMedia('medium')</code> returns <strong>true</strong></li>
      <li>On a medium device, the query <code>BaseAppsMediaQuery.matchesMedia('medium')</code> returns <strong>true</strong></li>
      <li>On a small device, the query <code>BaseAppsMediaQuery.matchesMedia('medium')</code> returns <strong>false</strong></li>
    </ul>

<hljs language="javascript">
BaseAppsMediaQuery.matchesMediaOrSmaller(breakpoint)
</hljs>

    <p class="docs-module-api-desc">Returns <code>true</code> if the media matches the breakpoint exactly or if a smaller breakpoint matches otherwise returns <code>false</code>.</p>
    <ul>
      <li>On a large device, the query <code>BaseAppsMediaQuery.matchesMediaOrSmaller('medium')</code> returns <strong>false</strong></li>
      <li>On a medium device, the query <code>BaseAppsMediaQuery.matchesMediaOrSmaller('medium')</code> returns <strong>true</strong></li>
      <li>On a small device, the query <code>BaseAppsMediaQuery.matchesMediaOrSmaller('medium')</code> returns <strong>true</strong></li>
    </ul>

<hljs language="javascript">
BaseAppsMediaQuery.matchesMediaOnly(breakpoint)
</hljs>

    <p class="docs-module-api-desc">Returns <code>true</code> if the media matches the breakpoint exactly otherwise returns <code>false</code>.</p>
    <ul>
      <li>On a large device, the query <code>BaseAppsMediaQuery.matchesMediaOnly('medium')</code> returns <strong>false</strong></li>
      <li>On a medium device, the query <code>BaseAppsMediaQuery.matchesMediaOnly('medium')</code> returns <strong>true</strong></li>
      <li>On a small device, the query <code>BaseAppsMediaQuery.matchesMediaOnly('medium')</code> returns <strong>false</strong></li>
    </ul>

  </section>
</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>dynamicRouting</pre> (Module)</h3>

  <div class="card docs-callout">
    <p><strong>As of version 2.0, this feature is no longer part of the core framework.</strong>  It can be included as an optional dependency by installing <a href="https://github.com/base-apps/angular-dynamic-routing" class="pre">angular-dynamic-routing</a>.</p>
  </div>
</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>dynamicRouting.animations</pre> (Module)</h3>

  <div class="card docs-callout">
    <p><strong>As of version 2.0, this feature is no longer part of the core framework.</strong>  It can be included as an optional dependency by installing <a href="https://github.com/base-apps/angular-dynamic-routing" class="pre">angular-dynamic-routing</a>.</p>
  </div>
</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>base.common</pre> (Module)</h3>

  <p class="docs-module-deps"><strong>Dependencies:</strong> <span class="pre">base.core</span></p>

  <p>A set of common directives used to manipulate other Angular Base Apps components.</p>

  <section>
    <h4 class="docs-module-name"><pre>ba-open</pre> (Directive)</h4>

    <p>When the element is clicked, opens the component with the ID specified.</p>

<hljs language="html">
<a ba-open="modal">Open modal</a>

<div ba-modal id="modal">
  <!-- ... -->
</div>
</hljs>
  </section>

  <section>
    <h4 class="docs-module-name"><pre>ba-close</pre> (Directive)</h4>

    <p>When the element is clicked, closes the component with the ID specified.</p>

<hljs language="html">
<a ba-close="modal">Close modal</a>

<div ba-modal id="modal">
  <!-- ... -->
</div>
</hljs>

    <p>If placed directly inside a closable component, you don't need to specify an ID&mdash;the directive will automatically close the nearest closable parent.</p>

<hljs language="html">
<div ba-modal id="modal">
  <a ba-close>Close modal</a>
  <!-- ... -->
</div>
</hljs>
  </section>

  <section>
    <h4 class="docs-module-name"><pre>ba-toggle</pre> (Directive)</h4>

    <p>When the element is clicked, opens a component with the ID specified, if it's closed, or closes it if it's open.</p>

<hljs language="html">
<!-- Click once to open, a second time to close -->
<a ba-toggle="panel">Toggle panel</a>

<div ba-panel id="panel">
  <!-- ... -->
</div>
</hljs>
  </section>

  <section>
    <h4 class="docs-module-name"><pre>ba-hard-toggle</pre> (Directive)</h4>

    <p>When the element is clicked, toggles the component with the ID specified (like <code>ba-toggle</code>), and also closes all other open components.</p>

<hljs language="html">
<a ba-hard-toggle="panelOne">Toggle panel</a>

<!-- This panel will open or close -->
<div ba-panel id="panelOne"><!-- ... --></div>
<!-- This panel will always close -->
<div ba-panel id="panelTwo"><!-- ... --></div>
</hljs>
  </section>

  <section>
    <h4 class="docs-module-name"><pre>ba-swipe-close</pre> (Directive)</h4>

    <p>Works like <code>ba-close</code>, except it's triggered by swipe events instead of clicks. Requires the HammerJS touch library to be installed.</p>

    <p>Specify a direction to swipe as the value of the directive.</p>

<hljs language="html">
<div ba-modal position="left" id="modal">
  <a ba-swipe-close="left">Close modal</a>
  <!-- ... -->
</div>
</hljs>
  </section>

  <section>
    <h4 class="docs-module-name"><pre>ba-esc-close</pre> (Directive)</h4>

    <p>Apply this directive to the <code>&lt;body&gt;</code> element, to enable pressing the <kbd>esc</kbd> key to close any open components.</p>

<hljs language="html" no-escape>
&lt;body ba-esc-close&gt;
  &lt;!-- ... --&gt;
&lt;/body&gt;
</hljs>
  </section>
</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>base.accordion</pre> (Module)</h3>

  <p>Includes the <code>ba-accordion</code> and <code>ba-accordion-item</code> directives, for creating accordions.</p>

  <p>Check out the <a ui-sref="accordion">documentation for accordions</a> to learn how to use them.</p>
</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>base.actionsheet</pre> (Module)</h3>

  <p class="docs-module-deps"><strong>Dependencies:</strong> <span class="pre">base.core</span></p>

  <p>Includes the <code>ba-action-sheet</code>, <code>ba-as-button</code>, and <code>ba-as-content</code> direcitves, for creating responsive dropdowns/action sheets.</p>

  <p>This component supports the common API, which means it can be manipulated with <code>ba-open</code>, <code>ba-close</code>, and <code>ba-toggle</code></p>

  <p>Check out the <a ui-sref="action-sheet">documentation for action sheets</a> to learn how to use them.</p>
</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>angularIcons.iconic</pre> (Module)</h3>

  <div class="card docs-callout">
    <p><strong>As of version 2.0, this feature is no longer part of the core framework.</strong>  It can be included as an optional dependency by installing <a href="https://github.com/base-apps/angular-icons" class="pre">angular-icons</a>.</p>
  </div>

  <p>Only the JS code has been moved to the new repository.  The SCSS styling for icons remains part of Angular Base Apps.  Check out the <a ui-sref="iconic">documentation for Iconic</a> to learn how to use the icons.</p>
</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>base.interchange</pre> (Module)</h3>

  <p class="docs-module-deps"><strong>Dependencies:</strong> <span class="pre">base.core</span>, <span class="pre">base.mediaquery</span></p>

  <p>Includes the <code>ba-interchange</code>, <code>ba-if</code>, <code>ba-show</code>, and <code>ba-hide</code> directives for dynamically rendering content responsively.</p>

  <p>Check out the <a ui-sref="interchange">documentation for Interchange</a> to learn how to use them.</p>
</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>base.modal</pre> (Module)</h3>

  <p class="docs-module-deps"><strong>Dependencies:</strong> <span class="pre">base.core</span></p>

  <p>Includes the <code>ba-modal</code> directive for creating modals.</p>

  <p>This component supports the common API, which means it can be manipulated with <code>ba-open</code>, <code>ba-close</code>, and <code>ba-toggle</code></p>

  <p>This component can be animated with Motion UI, by adding the <code>animation-in</code> and <code>animation-out</code> attributes to the element.</p>

  <section>
    <h4 class="docs-module-name"><pre>Modal Factory</pre> (Factory)</h4>

    <p>Another way to programatically create modals. It takes an object as an optional configuration as an argument. The <code>id</code> property is an optional id that you want to assign to your element, <code>templateUrl</code> (or alternatively <code>template</code> if you want to place the markup directly) is the path to the markup that the element should use, and <code>contentScope</code> creates a direct link between two scope variables. For example, if you had a modal nested inside another directive, you could use contentScope to directly link the controller scope to the directive scope. </p>
<hljs language="javascript">
$scope.foo = "Bloop!";
$scope.bar = "Blee!";

var config = {
  id: 'your optional id here',
  template: '{{foo}} {{bar}}',
  contentScope: {
    foo: $scope.foo,
    bar: $scope.bar
  },
  animationIn: 'slideInFromTop'
}

$scope.modal = new ModalFactory(config);
</hljs>

<hljs language="html">
<div class="button" ng-click="modal.activate()">Activate Modal, Captain!</div>
</hljs>
  <div class="button" ng-click="modal.activate()">Activate Modal, Captain!</div>
  </section>

  <p>Check out the <a ui-sref="modal">documentation for modals</a> to learn how to use them.</p>
</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>base.notification</pre> (Module)</h3>

  <p class="docs-module-deps"><strong>Dependencies:</strong> <span class="pre">base.core</span></p>

  <section>
    <h4 class="docs-module-name"><pre>ba-static-notification</pre> (Directive)</h4>

    <p>Creates a static notification. Use these for prototyping.</p>

<hljs language="html">
<ba-notification-static id="my-notify" title="Notification" image="http://placehold.it/40x40">
  <p>This notification's content is static.</p>
</ba-notification-static>
</hljs>
  </section>

  <section>
    <h4 class="docs-module-name"><pre>ba-notification-set</pre> (Direcitve)</h4>

    <p>Creates an empty container to house multiple notifications.</p>

<hljs language="html">
<ba-notification-set id="notifications" position="top-left"></ba-notification-set>
</hljs>
  </section>

  <section>
    <h4 class="docs-module-name"><pre>ba-notify</pre> (Directive)</h4>

    <p>When an element with this directive is clicked, it adds a notification to the <code>ba-notification-set</code> element with the specified ID.</p>

<hljs language="html">
<a href="" ba-notify title="Title of notification" content="Content of notification">Notify</a>
</hljs>
  </section>
  <section>
    <h4 class="docs-module-name"><pre>Notification Factory</pre> (Factory)</h4>

    <p>Another way to programatically create notifications. It takes an object as a configuration as an argument. The <code>id</code> property is an optional id that you want to assign to your element and <code>position</code> property to set the property of the notification set.</p>
<hljs language="javascript">
// instantiate the notification set
var notifSet = new NotificationFactory({
  position: 'top-right'
});

// on some event, call the following
notifSet.addNotification({
  title: "Great success!",
  content: "Congratulations",
  color: 'success'
});
</hljs>
<div class="button" ng-click="addNotification()">Add a notification</div>
  </section>

  <p>Check out the <a ui-sref="notification">documentation for notifications</a> to learn how to use them.</p>

</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>base.offcanvas</pre> (Module)</h3>

  <p class="docs-module-deps"><strong>Dependencies:</strong> <span class="pre">base.core</span></p>

  <p>Includes the <code>ba-offcanvas</code> directive, for creating off-canvas panels.</p>

  <p>This component supports the common API, which means it can be manipulated with <code>ba-open</code>, <code>ba-close</code>, and <code>ba-toggle</code></p>

  <p>Check out the <a ui-sref="off-canvas">documentation for off-canvas</a> to learn how to use them.</p>
</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>base.panel</pre> (Module)</h3>

  <p class="docs-module-deps"><strong>Dependencies:</strong> <span class="pre">base.core</span></p>

  <p>Includes the <code>ba-panel</code> directive, for creating slide-out panels.</p>

  <p>This component supports the common API, which means it can be manipulated with <code>ba-open</code>, <code>ba-close</code>, and <code>ba-toggle</code></p>

  <p>Check out the <a ui-sref="panel">documentation for panels</a> to learn how to use them.</p>
</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>base.popup</pre> (Module)</h3>

  <p class="docs-module-deps"><strong>Dependencies:</strong> <span class="pre">base.core</span></p>

  <p>Includes the <code>ba-popup</code> directive, for creating fixed popup panels. Requires the <a href="http://github.hubspot.com/tether/">Tether</a> JavaScript library.</p>

  <p>This component supports the common API, which means it can be manipulated with <code>ba-open</code>, <code>ba-close</code>, and <code>ba-toggle</code></p>

  <p>Check out the <a ui-sref="popup">documentation for popups</a> to learn how to use them.</p>
</section>

<hr>

<section>
  <h3 class="docs-module-name"><pre>base.tabs</pre> (Module)</h3>

  <p class="docs-module-deps"><strong>Dependencies:</strong> <span class="pre">base.core</span></p>

  <p>Includes the <code>ba-tabs</code>, <code>ba-tab</code>, and <code>ba-tab-content</code> directives, for creating tabbed content.</p>

  <p>Check out the <a ui-sref="tabs">documentation for tabs</a> to learn how to use them.</p>
</section>
